:root {
  --main-color: #e1e1e1;
  --darker-color: #100304;
  --accent-color: #ffffff;
}
.body {
  background-color: #e1e1e1;
}
.container {
  background-color: #e1e1e1;
  max-width: 720px;
}
.light-container {
  height: auto;
  background-color: #e1e1e1;
}
html {
  background-color: var(--main-color);
}

h3 {
  text-align: center;
}
@media only screen and(max-width: 720px) {
  .box {
    min-width: 200px;
  }
}

.box {
  overflow: auto;
  min-width: 350px;
  left: 50%;
  background-color: var(--accent-color);
  border-radius: 30px;
  padding: 30px;
  color: #010101;
}
@media only screen and (max-width: 720px) {
  .inside_home {
    max-width: initial;
  }
}
@media only screen and (min-width: 720px) {
  .inside_home {
    max-width: 80%;
    height: 50px;
    /* Center horizontally*/
    margin: 0 auto;
  }
}

.outside_home {
  padding-top: 40px;
  font-family: arial;
  font-size: 14px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #3f6dd9;
  color: var(--accent-color);
}
.column {
  width: 33.33%;
  text-align: center;
}
.paddingtop {
  float: right;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn:hover {
  background-color: #2f2929;
  color: var(--main-color);
  border-color: var(--main-color);
}

.email-btn {
  color: var(--accent-color);
  left: 50%;
}

.email-btn:hover {
  position: absolute;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-color: var(--main-color);
  left: 50%;
  transform: translate(-50%, 0);
}
.home_images {
  width: 100%;
}
.logo-navbar {
  display: inline-flex;
}
.heart-img {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.heart-img-navbar {
  width: 30px;
}

.navbar {
  background-color: var(--darker-color);
  margin-bottom: 50px;
}

.nav-link {
  color: #e1e1e1 !important;
}
.centerdiv {
  text-align: center;
}

.nav-link:hover {
  color: var(--main-color);
}
.account-div {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(2, 11, 2);
  border-radius: 15px;
  background-color: #e1e1e1;
  padding: 10px;
}
.register-form,
.login-form {
  width: 100%;
}
