{% extends "layout.html" %} {% block header %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="logo-navbar">
      <a class="navbar-brand" href="/">Heart Health</a>
      <div>
        <img
          src="{{ url_for('static', filename='images/heart.jpeg') }}"
          alt=""
          class="heart-img-navbar"
        />
      </div>
    </div>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('results', id=user.ID) }}"
          >Results</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signOut') }}">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock header %} {% block content %}
<div class="light-container">
  <div class="box" style="text-align: left">
    <h4 style="text-decoration: underline">Current Info</h4>
    <p>Name: {{ user.FirstName }} {{ user.LastName }}</p>
    <p>Email: {{ user.Email }}</p>
    <p>Phone Number: {{ user.PhoneNumber }}</p>
  </div>
  <br />
  <div class="box">
    <h4 style="text-decoration: underline">Update Profile</h4>
    <form
      action="{{ url_for('profile', id=user.ID) }}"
      method="POST"
      class="update-form"
    >
      <div class="form-group">
        <label for="fname">First Name</label>
        <input
          type="text"
          class="form-control"
          name="fname"
          id="fname"
          placeholder="Ex: John"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lname"
          id="lname"
          placeholder="Ex: Smith"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Ex: john@example.com"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="number">Phone Number</label>
        <input type="number" class="form-control" name="number" id="number" />
      </div>
      <br />
      <button type="submit" class="btn">Update</button>
    </form>
  </div>
</div>
{% endblock content %}
